<manifest package="com.ibm.ae.geofencing" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application tools:replace="android:allowBackup" android:allowBackup="false" android:name="com.orm.SugarApp">
    <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.ibm.pisdk.geofencing" />
    <service android:name="com.ibm.pisdk.geofencing.GeofenceTransitionsService" android:exported="true"/>
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
  </application>

</manifest>
